/*styles for forms 
	Larry.Luo
	2014
	version 1
	luoyuhang89@gmail.com
*/
.kidsbody{
	width: 720px;
	float: left;
	background-color: #ECEBB6;
}

.kidsbody ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: auto;
}

.kidsbody ul li.right{
	width: 33%;
	float: right;
}
.kidsbody ul li.long{
	width: 99%;
	float: right;
}
.kidsbody ul li.midium{
	width: 66%;
	float: right;
}
.kidsbody ul li.pic{
	width: 32%;
	height: 240px;
	float: left;
	background-color: #ECEBB6;
}
.kidsbody .kids_block{
	border-bottom: 3px solid #DBE18A;
	border-right: 3px solid #DBE18A;
	float: right;
}
.kidsbody .kids_block .kids_lable{
	text-align: center;
	font-size: 14px;
	height: 42px;
	background-color: #DBE18A;
	color: #068043;
	margin: 0;
	width: 100%;
	font-weight: bold;
	display: inline-block;
	clear: both;
	line-height: 42px;
}

.kidsbody .kids_block .kids_input input{
	width: 80%;
	height: 36px;
	border: 0;
	font-size: 12px;
	padding-left: 15px;
	background-color: #ECEBB6;
}

.kidsbody .kids_titlebar{
	border: 0;
	padding:0;
	margin: 0;
	clear: both;
}
.kidsbody .kids_titlebar h2{
	background-color: #93CA9B;
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
}
.kidsbutton{
	margin-top: 100px;
	margin-left: 500px;
}