/* box style */
body{width: 1920px;margin:0 0;font-family:"Î¢ÈíÑÅºÚ","ºÚÌå","ËÎÌå"}
#indexBox{height: 720px;width: 1920px;background: #f1b75c;}
#aboutBox{height: 720px;width: 1920px;background: url(images/about_bg.jpg);}
#eduBox{height: 720px;width: 1920px;background: url(images/edu_bg.jpg);}
#infoBox{height: 720px;width: 1920px;background: url(images/info_bg.jpg);}
#joinBox{height: 720px;width: 1920px;background: url(images/join_bg.jpg);}

/* navagation bar style for wrapper.php */
#navBar{height: 60px;width: 1920px;background: #f4db5e;float: left;}
#navLogo{height: 44px;width: 219px;background: url(images/logo.png);margin-top: 8px;margin-left: 380px;margin-right: 100px;float: left;}
.navButton{height: 29px;width: 103px;margin-top:15px;margin-right: 60px;float: left;display: block;}
.navSelected{display: none;}
.navButton:hover .navSelected{
	display: block;
	width: 103px;
	height: 29px;
	background: url(images/selected.png);
	}

/* top tool bar for index.html */
#topToolbar{
	_display:none;
	width: 1920px;height: 60px;line-height: 40px;
	background: #101010;
	position: fixed;top: 0px;left: 0; _top:0;
	_position:absolute; _top:expression(documentElement.scrollTop);
	z-index: 1;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.5;
}
/* elements in indexBox*/
#indexLogo{height:271px;width: 314px;background: url(images/indexLogo.png);position: absolute;top: 190px;left: 550px; }
#indexWheel{height: 102px;width: 26px;background: url(images/indexWheel.png);position: absolute;top: 480px;left: 700px;}

/* elements in aboutBox*/
#aboutTitle{height: 215px;width: 190px;background: url(images/aboutTitle.png);position: absolute;top: 80px;left: 625px;}
#aboutStop{height: 280px;width: 125px;background: url(images/aboutStop.png);position: absolute;top: 250px;left: 250px;}
#aboutBus{height: 298px;width: 499px;background: url(images/aboutBus.gif);position: absolute;top: 330px;left: 1920px;}
#aboutCloud1{height:134px; width: 242px;background: url(images/aboutCloud1.png);position: absolute;top: 100px;left: 200px;}
#aboutCloud2{height: 145px;width: 338px;background: url(images/aboutCloud2.png);position: absolute;top: 50px;left: 1200px;}
#aboutTree{height: 180px;width:704px;background: url(images/aboutTree.png);position: absolute;top:100px ;left:100px ; }
#aboutLine{height: 245px;width: 363px;background: url(images/aboutLine.png);position: absolute;top:480px;left:400px ;}

/* elements in eduBox*/
#eduTitle{height: 215px;width: 190px;background: url(images/eduTitle.png);position: absolute;top: 120px;left: 810px;}
#eduBoard{height: 390px;width: 461px;background: url(images/eduBoard.png);position: absolute;top: 130px;left: 200px;}
#eduCube{height: 190px;width: 229px;background: url(images/eduCube.png);position: absolute;top: 380px;left: 1100px;}
#eduRuler{height: 265px;width: 197px;background: url(images/eduRuler.png);position: absolute;top: 10px;left: 1300px;}
#eduStudents{height: 77px;width: 654px;background: url(images/eduStudents.png);position: absolute;top: 643px;left:400px;}
#eduTeacher{height:301px;width: 330px;background: url(images/eduTeacher.gif);position: absolute;top: 270px;left:200px; }

/* elements in infoBox*/
#infoBuilding{height: 348px;width: 314px;background: url(images/infoBuilding.png);position: absolute;top: 230px;left: 1300px;}
#infoFood{height: 148px;width: 358px;background: url(images/infoFood.png);position: absolute;top: 120px;left: 300px;}
#infoGirl{height: 325px;width: 267px;background: url(images/infoGirl.gif);position: absolute;top: 380px;left: 500px;}
#infoPlay{height: 125px;width: 200px;background: url(images/infoPlay.png);position: absolute;top: 500px;left: 950px;}
#infoShop{height: 323px;width: 325px;background: url(images/infoShop.png);position: absolute;top: 250px;left: 200px;}
#infoTitle{height: 215px;width: 190px;background: url(images/infoTitle.png);position: absolute;top: 120px;left: 770px;}

/* element in joinBox*/
#joinCloud{height: 284px;width: 743px;background: url(images/joinCloud.png);position: absolute;top:100px;left: 200px;}
#joinMail1{height: 296px;width: 407px;background: url(images/joinMail1.png);position: absolute;top: 255px;left: 550px;}
#joinMail2{height: 278px;width: 109px;background: url(images/joinMail2.png);position: absolute;top: 332px;left: 540px;}
#joinTitle{height: 215px;width: 190px;background: url(images/joinTitle.png);position: absolute;top: 70px;left: 1050px;}
#joinBoy{height: 301px;width: 225px;background: url(images/joinBoy.gif);position: absolute;top:360px ;left:1920px ;}
/* elements of wrapper */
#wBanner{height: 311px;width: 1920px;float: left;}
#wContent{height: auto;min-height: 660px;width: 940px;float: left;margin-left: 380px;margin-top: 50px;}
#wLeft{height: auto;min-height: 660px;width: 191px;float: left;}
#wRight{height: auto;min-height: 660px;width: 700px;float: right;}
#wTitle{height: 90px;width: 166px;margin-left: 12px;}
#wButton{height: 191px;width: 191px;margin-top: 50px;}
#wBottom{height: 282px;width: 1920px;float: left;margin-top: 50px;}
/* styles of left menu list */
.wMenu{height:auto;width: 191px;min-height: 150px;}
.wMenu ul {list-style-type: circle;color: #9b5b0c;}
.wMenu ul li {margin-top: 0.5rem;}
.wMenu ul li a {text-decoration: none;color: #9b5b0c;font-size: 20px;font-family:"Î¢ÈíÑÅºÚ","ºÚÌå","ËÎÌå"}
.wMenu ul li a:hover{text-decoration: underline;}

/* style of news list */
#newsList{height: 590px;width: 700px;}
#newsColum{height: 95px;width: 700px;float: left;border-bottom: 2px solid #A66D25;line-height: 25px;}
#newsTitle{ margin-top: 15px;}
#newsTitle a{font-size: 23px;text-decoration: none;color: #A66D25;}
#newsBrief {margin-top: 10px;color: #9D9D9D}
#newsBrief p{ margin: 0;font-size: 14px;}
#newsDetail p{font-size: 14px;color:#666666;line-height: 1rem;}
/* style of page buttons */
#wPagebottom{height: 43px;width: 700px;text-align: center;margin-top: 20px;}
#wPagebox{display: inline-block;}
#wPageup{height: 28px;width: 14px;background: url(images/info_Right.png);float: left;margin-top: 8px;}
#wPagedown{height: 28px;width: 14px;background: url(images/info_Left.png);float: left;margin-left: 25px;margin-top: 8px;}
#wPagenum{height: 43px;width: 43px;background: url(images/info_Num.png);float: left;margin-left: 25px;}
#wPagenum a{color: #FFF;text-decoration: none;font-weight: bolder;font-size: 38px;font-family:courier;padding-left: 2px;}

/*style of returnTop*/
#returnTop{
	_display:none;
	width: 100px;height: 100px;line-height: 40px;
	position: fixed;top: 600px;right: 100px; _top:600px;
	_position:absolute; _top:expression(documentElement.scrollTop);
	z-index: 1;}