/* box style */
body{height: auto;margin:0 0;font-family:"Î¢ÈíÑÅºÚ","ºÚÌå","ËÎÌå";}
#mainBox{height: auto;min-width: 1000px;width: 100%;clear: both;margin: 0 auto;}
#indexBox{height: 1000px;width: 100%;position: relative;text-align: center;margin: 0 auto;clear: both;min-width: 1000px;background: #f1b75c;}
#aboutBox{height: 1000px;width: 100%;position: relative;text-align: center;margin: 0 auto;clear: both;min-width: 1000px;background: url(images/about_bg.jpg) repeat-x 0 0;}
#eduBox{height: 1000px;width: 100%;position: relative;text-align: center;margin: 0 auto;clear: both;min-width: 1000px;background: url(images/edu_bg.jpg)repeat-x 0 0;}
#infoBox{height: 1000px;width: 100%;position: relative;text-align: center;margin: 0 auto;clear: both;min-width: 1000px;background: url(images/info_bg.jpg)repeat-x 0 0;}
#joinBox{height: 1000px;width: 100%;position: relative;text-align: center;margin: 0 auto;clear: both;min-width: 1000px;background: url(images/join_bg.jpg)repeat-x 0 0;}

/* navagation bar style for wrapper.php */
#navBar{height: 60px;width: 1000px;margin: 0 auto;z-index: 200}
#navLogo{height: 44px;width: 219px;background: url(images/logo_2.png);margin-top: 8px;margin-right: 100px;float: left;}
.navButton{height: 29px;width: 103px;margin-top:15px;margin-right: 60px;float: left;display: block;z-index: 210}

/* top tool bar for index.html */
#topToolbar{
	_display:none;
	min-width: 1000px;
	width: 100%;height: 60px;line-height: 40px;
	background: #101010;
	position: fixed;top: 0px;left: 0; _top:0;
	_position:absolute; _top:expression(documentElement.scrollTop);
	z-index:1;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.5;
}
/* elements in indexBox*/
#indexLogo{height:271px;width: 314px;background: url(images/indexLogo.png);position: absolute;top: 420px;left: 343px; }
#indexWheel{height: 102px;width: 26px;background: url(images/indexWheel.png);position: absolute;top: 700px;left: 487px;}

/* elements in aboutBox*/
#aboutTitle{height: 215px;width: 190px;background: url(images/aboutTitle.png);position: absolute;top: 350px;left: 395px;}
#aboutStop{height: 280px;width: 125px;background: url(images/aboutStop.png);position: absolute;top: 530px;left: 100px;}
#aboutBus{height: 206px;width: 443px;background: url(images/aboutBus.png);position: absolute;top: 650px;left: 500px;}
#aboutCloud1{height:134px; width: 242px;background: url(images/aboutCloud1.png);position: absolute;top: 290px;left: 50px;}
#aboutCloud2{height: 145px;width: 338px;background: url(images/aboutCloud2.png);position: absolute;top: 290px;left: 550px;}
#aboutTree{height: 180px;width:704px;background: url(images/aboutTree.png);position: absolute;top:10px ;left:10px ; }
#aboutLine{height: 245px;width: 363px;background: url(images/aboutLine.png);position: absolute;top:750px;left:200px ;}

/* elements in eduBox*/
#eduTitle{height: 215px;width: 190px;background: url(images/eduTitle.png);position: absolute;top: 300px;left: 500px;}
#eduBoard{height: 390px;width: 461px;background: url(images/eduBoard.png);position: absolute;top: 410px;left: 0px;}
#eduCube{height: 190px;width: 229px;background: url(images/eduCube.png);position: absolute;top: 660px;left: 750px;}
#eduRuler{height: 265px;width: 197px;background: url(images/eduRuler.png);position: absolute;top: 230px;left: 800px;}
#eduStudents{height: 77px;width: 654px;background: url(images/eduStudents.png);position: absolute;top: 923px;left:0px;}
#eduTeacher{height:301px;width: 330px;background: url(images/eduTeacher.png) no-repeat;position: absolute;top: 550px;left:150px; }

/* elements in infoBox*/
#infoBuilding{height: 348px;width: 314px;background: url(images/infoBuilding.png);position: absolute;top: 500px;left: 650px;}
#infoFood{height: 148px;width: 358px;background: url(images/infoFood.png);position: absolute;top: 380px;left: 40px;}
#infoGirl{height: 325px;width: 267px;background: url(images/infoGirl.png) no-repeat;position: absolute;top: 680px;left: 280px;}
#infoPlay{height: 125px;width: 200px;background: url(images/infoPlay.png);position: absolute;top: 780px;left: 550px;}
#infoShop{height: 323px;width: 325px;background: url(images/infoShop.png);position: absolute;top: 530px;left: 0px;}
#infoTitle{height: 215px;width: 190px;background: url(images/infoTitle.png);position: absolute;top: 370px;left: 420px;}

/* element in joinBox*/
#joinCloud{height: 284px;width: 743px;background: url(images/joinCloud.png);position: absolute;top:440px;left: 160px;}
#joinMail1{height: 296px;width: 407px;background: url(images/joinMail1.png);position: absolute;top: 530px;left: 80px;}
#joinMail2{height: 278px;width: 109px;background: url(images/joinMail2.png);position: absolute;top: 610px;left: 0px;}
#joinTitle{height: 215px;width: 190px;background: url(images/joinTitle.png);position: absolute;top: 300px;left: 600px;}
#joinBoy{height: 301px;width: 225px;background: url(images/joinBoy.png) no-repeat;position: absolute;top:650px ;left:700px ;}
#joinLine{height: 164px;width: 364px;background: url(images/join_Line.png);position: absolute;top: 830px;left: 520px;}
/* elements of wrapper */
#wBanner{height: 311px;width:100%;min-width: 1000px;position: relative;text-align: center;margin: 0 auto;clear: both;}
#wContent{height: auto;min-height: 660px;width: 1000px;position: relative;margin: 50 auto;clear: both;}
#wLeft{height: auto;min-height: 660px;width: 191px;float: left;}
#wRight{height: auto;min-height: 660px;width: 700px;float: right;text-align: left;}
#wRight p{font-size:12px;color:#808080;line-height:20px;font-family:"Î¢ÈíÑÅºÚ","ºÚÌå","ËÎÌå"}
#wTitle{height: 90px;width: 166px;margin-left: 12px;}
#wButton{height: 191px;width: 191px;margin-top: 50px;}
#wBottom{height: 282px;width:100%;min-width: 1000px;position: relative;margin:0 auto;clear: both;}
/* header style for wrapper.php */
#header{width: 100%;min-width: 1000px;height: 60px;background: #f4f400;position: relative;text-align: center;margin:0 auto;clear: both;}
#content{width: 100%;min-width: 1000px;height: auto;position: relative;text-align: center;margin: 0 auto;clear: both;}
/* styles of left menu list */
.wMenu{height:auto;width: 191px;min-height: 150px;}
.wMenu ul {list-style-type: circle;color: #9b5b0c;}
.wMenu ul li {margin-top: 0.5rem;}
.wMenu ul li a {text-decoration: none;color: #9b5b0c;font-size: 20px;font-family:"Î¢ÈíÑÅºÚ","ºÚÌå","ËÎÌå"}
.wMenu ul li a:hover{text-decoration: underline;}

/* style of news list */
#newsList{height: 590px;width: 700px;}
#newsColum{height: 95px;width: 700px;float: left;border-bottom: 2px solid #A66D25;line-height: 25px;}
#newsTitle{ margin-top: 15px;}
#newsTitle a{font-size: 23px;text-decoration: none;color: #A66D25;}
#newsBrief {margin-top: 10px;color: #9D9D9D}
#newsBrief p{ margin: 0;font-size: 14px;}
#newsDetail{margin-top: 50px;min-height: 400px;}
#newsDetail p{font-size: 14px;color:#666666;line-height: 1rem;}
/* style of page buttons */
#wPagebottom{height: 43px;width: 700px;text-align: center;margin-top: 20px;}
#wPagebox{display: inline-block;}
#wPageup{height: 28px;width: 14px;background: url(images/info_Right.png);float: left;margin-top: 8px;}
#wPagedown{height: 28px;width: 14px;background: url(images/info_Left.png);float: left;margin-left: 25px;margin-top: 8px;}
#wPagenum{height: 43px;width: 43px;background: url(images/info_Num.png);float: left;margin-left: 25px;}
#wPagenum a{color: #FFF;text-decoration: none;font-weight: bolder;font-size: 38px;font-family:courier;padding-left: 2px;}

/*style of returnTop*/
#returnTop{
	_display:none;
	width: 100px;height: 100px;line-height: 40px;
	position: fixed;bottom: 50px;right: 50px; _bottom:100px;
	_position:absolute; _top:expression(documentElement.scrollTop);
	z-index: 1;}